@media(max-width: 1140px) {
    .main__bottom-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 750px) {
    .main__top-box {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .header__content-title {
        font-size: 60px;
    }
    .header__content-title-text {
        padding: 10px;
    }
    .header__content-link {
        font-size: 15px;
    }
    .header__nav__top-link {
        font-size: 15px;
    }
    .main__img {
        width: 160px;
    }
    .main__bottom-box {
        
        align-items: center;
        justify-content: center;
    }
    .main__middle-text {
        font-size: 15px;
        width: 300px;
    }
    .main__bottom-text,
    .main__bottom-right-text {
        font-size: 10px;
        width: 80px;
    }
    .main__top-text {
        font-size: 20px;
    }
}

@media(max-width: 576px) {
    .header__content {
        height: auto;
        padding: 30px 0;
    }
    .header__content-title {
        font-size: 40px;
    }
    .header__content-title-text {
        padding: 6px;
    }
    .header__nav__top-link {
        font-weight: 600;
    }
    .footer__nav-link {
        font-size: 15px;
        font-weight: 600;
    }
    .footer__nav {
        padding: 30px 0;
    }
    .main_img-1 {
        width: 70%;
    }
    .main__top-text {
        font-size: 10px;
    }
    .main__bottom-container {
        gap: 10px;
    }
    .footer__img {
        width: 50%;
    }
    .footer__nav-bottom-box {
        flex-direction: column;
        gap: 15px;
    }
}

@media(max-width: 480px) {
    .main__img {
        width: 30%;
    }
    .header__nav-top {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    .header__nav-logo {
        width: 30%;
    }
}